<div class="jumbotron">
  <h1><span class="red">O</span>ne Line Diary!</h1>
  <p>Just 3 words you need</p>
  <span><a class="btn btn-primary btn-lg" href="/new" role="button">Let's go</a></span>
  <span><a class="btn btn-warning btn-lg" href="/" role="button">Login</a></span>
  <span><a class="btn btn-success btn-lg" href="/" role="button">New account</a></span>


</div>